[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "solution-architect/themes/PaperMod"]
	path = solution-architect/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
